<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/css/ui.css">
    <title>マイページ - お小遣い帳</title>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="#">お小遣い帳</a>
        <ul class="nav">
          <li class="active"><a href="/mypage">マイページ</a></li>
        </ul>
      </div>
    </div>
    <div id="wrap" style="margin-top: 50px;">
      <div class="container">
        <h2>一覧</h2>
        <table class="table">
          <thead>
            <tr>
              <th>日付</th>
              <th>金額</th>
            </tr>
          </thead>
          <tbody>
            {{#list}}
            <tr>
              <td>{{0}}</td>
              <td>{{1}} 円</td>
            </tr>
            {{/list}}
          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </body>
</html>